@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h2 class="display-4">¡API BASE LAB!</h2>
    <p>Componente de servicios http.</p>
    <p>
        Expone datos y servicios en la Web directamente a través de HTTP.
    </p>
    <p>
        Para obtener más información contácta con: <br /> <a class="text-decoration-none" style="font-size: 12px;" href="https://uialberto.github.io/" target="_blank">Alberto Baigorria</a>
    </p>
</div>